#home {

  .banner {
    height: 75vh;
    width: 100%;
    background-image: url(/images/wheat.jpeg);
  }

  p {
    color: #a9afb5;
  }
  .features {
    margin-top: 20px;
  }
  .popular{
    padding: 20px;
  }
  .price{
    display: inline;
    font-weight: lighter;
  }
  i{
    float:right;
    font-size: 1.2em;
  }

  .featured-products{
    margin-top: 60px
  }

  .featured-commodity{
    padding-top: 15px;
    border: 1px solid transparent;
    background-color: #ffffff;
  }
  .email-signup{
    border: 1px solid transparent;
    padding:20px 20px 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    background-color: #ffffff;
    display:inline;

    h3{
      display: inline
    }

    .btn{
      display: inline;
      float: right;
    }
  }
}
