<section id="edit-promo">
  <div class="col-xs-12 col-s-8 col-md-6 col-s-offset-2 col-md-offset-3">
    <admin-nav></admin-nav>
    <div class="text-center">
      <h3>Edit Promo</h3>
    </div>
    <form name="promoform" ng-submit="update(promo)" role="form">
      <div class="form-group">
        <label for="type">Type</label>
        <select class="form-control" ng-model="promo.type">
          <option>dollars</option>
          <option>percent</option>
        </select>
      </div>
      <div class="form-group">
        <label for="value">Value</label>
        <input type="number" name="value" required="true" value="{{ promo.value }}" ng-model="promo.value" class="form-control"/>
      </div>
      <div class="form-group">
        <label for="code">Code</label>
        <input type="text" name="code" required="true" value="{{ promo.code }}" ng-model="promo.code" class="form-control"/>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
  </div>
</section>
