#categories-container {
	background-color: white;
}

#categories-nav {
	margin: 0 12vw;
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.categories{
	margin-top: 30px;
}


#categories-nav > div {
	margin: 10px auto;
	padding: 0;
}

.category-image {
	background-color: white;
	text-align: center;
}

h4 {
	display: inline-block;
}

.category-name {
	background-color: rgba(240, 240, 240, 0.5)
}

#Energy {
	width: 12%;
	height: 6%;
	background-image: url("/images/energy.jpg");
}

#Precious-Metals {
	width: 12%;
	height: 6%;
	background-image: url("/images/precious-metals.jpg");
}

#Base-Metals {
	width: 12%;
	height: 6%;
	background-image: url("/images/base-metals.jpg");
}

#Agriculture {
	width: 12%;
	height: 6%;
	background-image: url("/images/agriculture.jpg");
}

#Softs {
	width: 12%;
	height: 6%;
	background-image: url("/images/softs.jpg");
}

#Alternative-Energy {
	width: 12%;
	height: 6%;
	background-image: url("/images/alternative-energy.jpg");
}
