<div id="categories-container">
	<div id="categories-nav">
	<!-- wrap in As -->
		<div ng-click="currentCategory = 'Energy'" id="Energy" class="btn-lg btn">
			<div class="category-name">
				<h4>Energy</h4>
			</div>
		</div>

		<div ng-click="currentCategory = 'Precious Metals'" id="Precious-Metals" class="btn-lg btn">
			<div class="category-name">
				<h4>Precious Metals</h4>
			</div>
		</div>


		<div ng-click="currentCategory = 'Base Metals'" id="Base-Metals" class="btn-lg btn">
			<div class="category-name">
				<h4>Base Metals</h4>
			</div>
		</div>

		<div ng-click="currentCategory = 'Grain'" id="Agriculture" class="btn-lg btn">
			<div class="category-name">
				<h4>Grains</h4>
			</div>
		</div>

		<div ng-click="currentCategory = 'Softs'" id="Softs" class="btn-lg btn">
			<div class="category-name">
				<h4>Softs</h4>
			</div>
		</div>

		<div ng-click="currentCategory = 'Live Stock'" id="Alternative-Energy" class="btn-lg btn">
			<div class="category-name">
				<h4>Live Stock</h4>
			</div>
		</div>
	</div>
</div>
